{% extends 'base.html' %}

{% block title %} | Create new project{% endblock %}

{% block main %}
<div class="container expand-on-small-only">
    <div class="row change-form">
        <div class="col s12 m12 l10 offset-l1">
            <div class="card">
                <form method="POST" action="{% url 'admin:project_create' %}" novalidate>
                    {% csrf_token %}
                    <div class="card-content">
                        <h3 class="form-title">
                            Create new project
                            {% if project.islocked %}<i class="material-icons ">lock</i>{% endif %}
                        </h3>
                        {% include 'snippets/messages.html' %}
                        <div class="row">
                            <div class="col s12 input-field required">
                                <input type="text" id="name" name="name" maxlength="100" required />
                                <label for="name">Name (required)</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 input-field">
                                <textarea rows="5" id="description" name="description" class="materialize-textarea"></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>

                        <div class="row">
                            
                               <strong>Project visibilty</strong>
                               <p>
                                    <input class="with-gap" name="isprivate" type="radio" id="private" value="true" checked />
                                    <label for="private"><strong>Private</strong><br>The project will only be visible to project administrators and members of any user group assigned to this project.
                                    </label>
                                </p>
                                <p>
                                    <input class="with-gap" name="isprivate" type="radio" id="public" value="false" />
                                    <label for="public"><strong>Public</strong><br>The project will be visible to the general public                        
                                    </label>
                                </p>
   
                        </div>

                        <div class="row">
                               <strong>Project permissions</strong>
                               
                                    <div class="public hide">
                                        <p>
                                            <input class="with-gap" name="everyone_contributes" type="radio" id="true" value="true" />
                                            <label for="true">
                                                <strong>All users</strong><br>All users can contribute. This includes anonymous contributions from users, who are not logged in
                                            </label>
                                        </p>
                                    </div>
                                
                                    <div  class="radio">
                                    <p>
                                        <input class="with-gap" name="everyone_contributes" type="radio" value="auth" id="auth"/>
                                            <label for="auth"> 
                                                <span class="private">
                                                    <strong>All users</strong><br>All users that have access to the project can contribute.
                                                </span>
                                                <span class="public hide">
                                                    <strong>All authenticated users</strong><br>Users have to be logged in to contribute.
                                                </span>
                                            </label>  
                                        </p>
                                    </div>
                                    <div class="radio">
                                        <p> 
                                            <input class="with-gap" name="everyone_contributes" id="false" type="radio" value="false" />
                                            <label for="false"><strong>Only members of contributor groups can contribute</strong><br>Only users, who are members of a user groups that have been granted contribute permissions, can contribute.
                                            </label>  
                                        </p>
                                    </div>
                        </div>
                        <div class="card-action">
                            <div class="right-align">
                                <a role="button" href="{% url 'admin:dashboard' %}" class="btn btn-large btn-flat">Cancel</a>
                                <button type="submit" class="btn btn-large waves-effect waves-light">Create project</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<script src="/static/js/admin.ui.project.materialize.js"></script>
<script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}

