<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l4">
                <ul>
                    <li>GeoKey {{ GEOKEY_VERSION }} created by </li>
                    <li><a href="http://www.ucl.ac.uk/excites" target="_blank" title="ExCiteS homepage" class="grey-text text-lighten-3">ExCiteS research group</a></li>
                </ul>
            </div>
            <div class="col s12 m12 l4">
                <ul>
                    <li><a href="http://geokey.org.uk/help/" target="_blank" title="GeoKey Help" class="grey-text text-lighten-3">Help</a></li>
                    <li><a href="http://geokey.org.uk/docs/web-api.html" target="_blank" title="GeoKey API documentation" class="grey-text text-lighten-3">API documentation</a></li>
                </ul>
            </div>

            <div class="col s12 m12 l4">
                <ul>
                    <li><a href="https://twitter.com/geokey_project" target="_blank" title="GeoKey Twitter account" class="grey-text text-lighten-3">Follow GeoKey on Twitter</a></li>
                    <li><a href="https://github.com/ExCiteS/geokey/" target="_blank" title="GeoKey GitHub source code" class="grey-text text-lighten-3">Contribute on GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
