{% extends 'base.html' %}

{% block bodydata %}
data-project-id="{{ project.id }}"
data-project-locked="{{ project.islocked }}"
data-usergroup-id="{{ usergroup.id }}"
{% endblock %}

{% block title %} | Project: {{ project.name }} - User group: {{ usergroup.name }} - Settings{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <h3 class="smaller">
            {% if project.islocked %}<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{% endif %}
            <a href="{% url 'admin:project_overview' project.id %}">{{ project.name }}</a>
        </h3>

        {% include 'projects/navigation.html' %}
    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        <div class="col s12 l4">
            {% include 'users/usergroup_navigation.html' %}
        </div>

        <div class="col s12 l8">
            <div class="card">
                <div class="card-content">
                    <h4 class="header">User group settings</h4>

                    <form method="POST" action="{% url 'admin:usergroup_settings' project.id usergroup.id %}" novalidate>
                        {% csrf_token %}

                        <div class="input-field">
                            <input type="text" class="form-control input-lg" id="name" name="name" value="{{ usergroup.name }}" maxlength="100" required />
                            <label for="name" class="control-label">Name (required)</label>                            
                        </div>

                        <div class="input-field">                            
                            <textarea class="materialize-textarea" rows="5" id="description" name="description">{{ usergroup.description }}</textarea>
                            <label for="description" class="control-label">Description</label>
                        </div>

                        <div class="fcard-action">
                            <div class="right-align">                                
                                <button type="reset" class="btn btn-large btn-flat">Reset</button>
                                <button type="submit" class="btn btn-large waves-effect waves-light">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if not project.islocked %}
    <div class="row">
        <div class="col l8 offset-l4 s12 ">
            <div class="card">
                    <h4 class="card title red lighten-3 red-text">Be careful!</h4>

                    <div class="panel-body becareful">
                        <div>
                            <strong>Delete user group</strong>
                            <p>Deleting a user group cannot be undone.</p>
                            <a href="#delete-confirm" class="red-text" data-toggle="modal" data-target="#delete-confirm">Delete this user group</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
<div id="delete-confirm" class="modal">

        <div class="modal-title">        
            <h4 class="modal-title amber lighten-4">Are you sure?</h4>
        </div>
        <div class="modal-content">
           <p><strong>Before you delete the user group, please read through the consequences of this action:</strong></p>


            <ul>
                <li>Deleting a user group cannot be undone.</li>
                <li>Users added to this user group will not be deleted.</li>
            </ul>
        </div>

        <div class="modal-footer">                
            <a href="{% url 'admin:usergroup_delete' project.id usergroup.id %}"><button  type="button" id="deactivate" class="btn red lighten-2">I'm absolutely sure, delete the user group!</button></a>
            <a  class="modal-action modal-close waves-effect waves-green btn-flat" >Cancel</a>
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<script> 
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();

   
      });
  </script>
<script src="/static/js/admin.ui.forms.validate.js"></script>
{% endblock %}
